h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Merriweather', serif;
}
a:visited {
    color: dimgray;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.margintop2em {
    margin-top: 2em;
}

.inline {
    display: inline;
}

.btn {
    margin-top: 0.3em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


/*Colors for buttons*/

.btn-lg {
    background-color: lightskyblue;
    margin-top: 2em;
}

.btn-adventure {
    background-color: aquamarine;
    
}
.btn:hover {
    background-color: teal;
    
}

.btn-comedy {
    background-color: paleturquoise;
}
.btn-drama {
    background-color: pink;
}
.btn-horror {
    background-color: palegreen;
}
.btn-thriller {
    background-color: papayawhip;
}
.btn-scifi {
    background-color: palevioletred;
}
.btn-romance {
    background-color: lightcyan;
}
.btn-animation {
    background-color: lavenderblush;
}

/*Css from teresa*/

.sidebar {
    position : absolute;
    top : 0;
    left : -160px;;
    transition : 100ms left;
}
#navigation-toggle {
    position : absolute;
    left : 160px;
    background : rgba(3,159,244,.95);
    color : white;
    text-decoration : none;
    padding : 20px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 100px;

}
.navigation-items a:hover {
    background-color : #222;
}

form .ng-invalid.ng-touched {
    background-color: lightpink;
}

form .ng-valid.ng-dirty {
    background-color: lightgreen;
}