h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Merriweather', serif;
}


.margintop2em {
    margin-top: 2em;
}

.inline {
    display: inline;
}

.btn {
    margin-top: 0.3em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


/*Colors for buttons*/

.btn-lg {
    background-color: lightskyblue;
    margin-top: 2em;
}

.btn-adventure {
    background-color: aquamarine;
    
}
.btn:hover {
    background-color: teal;
    
}

.btn-comedy {
    background-color: paleturquoise;
}
.btn-drama {
    background-color: pink;
}
.btn-horror {
    background-color: palegreen;
}
.btn-thriller {
    background-color: papayawhip;
}
.btn-scifi {
    background-color: palevioletred;
}
.btn-romance {
    background-color: lightcyan;
}
.btn-animation {
    background-color: lavenderblush;
}