<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 margintop2em">
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <img src=" {{ movie.image }} " class="img-responsive"></img>
            
            </div>
            <div class="col-xs-12 col-sm-7">
                <h2>{{ movie.name }}</h2><p>{{ movie.year_of_release }}</p>
                <img src="img/imdblogo.png"></img>
                <p class="inline"> {{ movie.imdb_rating }}</p>
                <p>{{ movie.length }}</p>
                <p>{{ movie.genre }}</p>
                <p class="inline" ng-repeat="actor in movie.main_actors">
                    {{ actor }}{{$last ? '.' : ', '}}
                    
                </p>
                <p>{{ movie.description }}</p>
                           
            </div>
        </div>
    </div>
</div>