<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="myApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Which Movie Should I Watch?</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
        
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container"  ng-controller = "MyController">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-pills pull-right">
                        <li><a  class="btn" ui-sref="movie">Home</a></li>
                        <li><a  class="btn" ui-sref="form">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 margintop2em">
                    <div class="text-center">
                        <h1>Which movie should I watch?</h1>
                        <div class="btn btn-lg navld hvr-grow">
                            <a ui-sref="movie" ui-sref-active="active" role="button" ng-click="movieRandom()">Give me a Random one</a>
                        </div>
                        <div class="row"> 
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 margintop2em">
                                <div class="btn btn-adventure">
                                    <a ui-sref="movie" ui-sref-active="active" ng-click="filterByGenre('Adventure')" role="button">Adventure</a></div>
                                <div class="btn btn-comedy">
                                    <a ui-sref="movie" ui-sref-active="active" ng-click="filterByGenre('Comedy')" role="button">Comedy</a>
                                </div>
                                <div class="btn btn-drama">
                                    <a ui-sref="movie" ui-sref-active="active" ng-click="filterByGenre('Drama')" role="button">Drama</a>
                                        </div>
                                <div class="btn btn-horror">
                                    <a ui-sref="movie" ui-sref-active="active" ng-click="filterByGenre('Horror')" role="button">Horror</a>
                                </div>
                                <div class="btn btn-thriller">
                                    <a ui-sref="movie" ui-sref-active="active" ng-click="filterByGenre('Thriller')" role="button">Thriller</a>
                                </div>
                                <div class="btn btn-scifi">
                                    <a ui-sref="movie" ui-sref-active="active" ng-click="filterByGenre('Sci-Fi')" role="button">Sci-Fi</a>
                                </div>
                                <div class="btn btn-romance">
                                    <a ui-sref="movie" ui-sref-active="active" ng-click="filterByGenre('Romance')" role="button">Romance</a>
                                </div>
                                <div class="btn btn-animation">
                                    <a ui-sref="movie" ui-sref-active="active" ng-click="filterByGenre('Animation')" role="button">Animation</a>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <div ui-view>
                    <!--content from pages -->
            </div>
        </div> <!--container end -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/formController.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
