
<div class="container">
    <h2>Contact Us!</h2>
    <h3>If you have any questions, comments or suggestions, please fill in this form and we'll get back to you.</h3>
    <section class="movieform">
        <form novalidate name="myform" ng-submit="saveForm()">


            <div class="row" ng-controller="formController" >
                <label class="col-lg-3 col-md-3 col-sm-10 control-label" for="inputFirstName">Your First Name</label>
                <div class="col-lg-3 col-md-3 col-sm-10">
                    <input id="inputFirstName"
                           name="inputFirstName"
                           type="text" placeholder="Enter your first name"
                           class="form-control input-md"
                           ng-model="contact.inputFirstName"
                           ng-required="true">
                    <p ng-show="myform.inputFirstName.$invalid && myform.inputFirstName.$touched">
                        You must fill in your first name.</p>
                </div>

                <label class="col-lg-3 col-md-3 col-sm-10 control-label" for="inputLastName">Your Last Name</label>
                <div class="col-lg-3 col-md-3 col-sm-10">
                    <input id="inputLastName"
                           name="inputLastName"
                           type="text" placeholder="Enter your last name"
                           class="form-control input-md"
                           ng-model="contact.inputLastName"
                           ng-required="true">
                    <p ng-show="myform.inputLastName.$invalid && myform.inputLastName.$touched">
                        You must fill in your last name.</p>
                </div>

                <label class="col-lg-3 col-md-3 col-sm-10 control-label" for="inputEmail">Your Email</label>
                <div class="col-lg-3 col-md-3 col-sm-10">
                    <input id="inputEmail"
                           name="inputEmail"
                           type="text" placeholder="Enter your Email"
                           class="form-control input-md"
                           ng-model="contact.inputEmail"
                           ng-required="true">
                           <input type="submit" id="submit" value="Submit" />
                    <p ng-show="myform.inputEmail.$invalid && myform.inputEmail.$touched">
                        You must fill in your email.</p>
                </div>

                <label class="col-lg-3 col-md-3 col-sm-10 control-label" for="inputMessage">Enter your message</label>
                <div class="col-lg-3 col-md-3 col-sm-10">

                    <textarea id="inputMessage" class="form-control input-md"
                              rows="8"
                              placeholder="Enter your message"
                              class="form-control input-md"
                              ng-model="contact.inputMessage">
                        <input type="submit" id="submit" value="Submit" />
                    </textarea>
                    <input type="submit" id="submit" value="Submit" />
                </div>

            </div>


            <input type="submit" value="Send Form to Which Movie Should I Watch" class="btn btn-primary" />

        </form>

    </section>
</div>


<!--<div >
    <h2>Email list:</h2>
    <ul>
        <li ng-repeat="contact in contacts track by $index">{{ contact }}</li>
    </ul>
    <h2>Add contact</h2>
    <form ng-submit="addMail(mailAddress)">
        <input type="mail" ng-model="mailAddress"/>
        <button type="submit">Add contact</button>
    </form>
</div>-->




<div ui-view></div>